
.center {
  margin-top: 60%;
}

ion-toolbar {
  --background: var(--ion-app-primary);
  --color: #ffffff;
}



ion-button {
  --background: #f35588;
  --background-activated: #f35588;
}

ion-spinner {
  --color: #3880ff;
  display: block;
  margin: auto;
  margin-top: inherit;
}
a {
  text-decoration-style: none;
}

.spacer {
  padding: 75px;
}

.link-texts {
  color: var(--primary-pink);
  font-weight: bolder;
  outline: none;
}

.link-texts:focus {
  color: var(--primary-pink);
  outline: none;
}

.add-bday-fab:focus {
  outline: none;
}
.avatar {
  margin: auto;
}

.loading-text {
  display: block;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
}

.loading {
  text-align: center;
}


