.center {
  margin-top: 60%;
}
ion-toolbar {
  --background: #f35588;
  --color: #ffffff;
}

ion-spinner {
  --color: #3880ff;
  display: block;
  margin: auto;
  margin-top: inherit;
}
a {
  text-decoration-style: none;
}

.spacer {
  padding: 75px;
}

.link-texts {
  color: #f35588;
  outline: none;
}

.link-texts:focus {
  color: #f35588;
  outline: none;
}

.add-bday-fab:focus {
  outline: none;
}
.avatar {
  margin: auto;
}
