<ion-content>
  <div>
    <h1 class="ion-text-center">login for Cakes</h1>
  </div>
  <div class="ion-padding">
    <ion-list lines="full" class="ion-no-margin ion-no-margin">
      <ion-item>
        <ion-input
      type="text"
      [(ngModel)]="email"
      placeholder="Enter your email"
      autofocus="true"
      autocapitalize="false"
      clearInput
      value="clear me"
    ></ion-input>
      </ion-item>
      <br><br>
      <ion-item>
        <ion-input
        type="password"
        [(ngModel)]="password"
        placeholder="Enter your password"
        clearInput
        value="clear me"
      ></ion-input>  
      </ion-item>
    </ion-list>
    <br><br>
    <div>
      <ion-button (click)="loginFunction()" mode="ios" expand="block">
        Login
      </ion-button>
    </div>
  </div>
  <p align="center"><a href="#" [routerLink]='["/register"]'>create an account</a></p>
</ion-content>
